@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
header{
  text-align: center;
  color: white;
  height: 10vh;
  margin-top: 40px;
}
body{
  height: 100vh;
  background-image: url('../images/football_pitch1200.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.main-screen{
  margin: 20px auto;
  width: 80%;
  height: 60%;
  border:3px solid #9ACD32;
  background-color: rgb(251,243,213,0.7);
  border-radius: 4px;
  display:flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  font-size: 1.5rem;
}
.hidden{
  display:none
}

.welcome{
  width: 60%;
  height:300px;
  background-color:rgb(251,243,213,0.7);
  border-radius: 4px;
  text-align: center;
  margin-left: auto;
  margin-right:auto;
  border: 2px solid green;
  font-size: 25px;
  padding: 5%;
  font-size: 1.5rem;
}

.start-menu{
  border: 1px solid black;
  width: 80%;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
  margin-top: 5%;
  margin-bottom: 10px;
  background-color: #FFD700; 
  color: #000; 
}
#rules{
  margin-bottom: 5%;
}
.start-menu:hover{
  background-color: white;
  color: black;
}

.tutorial, .no-choice, .no-difficulty, .no-league{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  background-color: rgb(251,243,213);
  padding: 5px;
  height: 200px;
  border-radius: 5px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
  z-index: 10;
  text-align: center;
  padding: 20px;
}
.close {
  position: absolute;
  color: #333;
  cursor: pointer;
  top: 0.5rem;
  right: 0.5rem;
  font-size: 2rem;
  border: none;
  background: none;
}
.leagues > img{
  width: 100px;
  height: 50px;
  padding-top:5px;
}

.back-arrow{
  margin-left: 5px;
  margin-right: auto;
  height: 50px;
  width: 50px;
  font-size: 30px;
  cursor: pointer;
};
.back-arrow:hover{
    background-color: white;
    color: black;
    height: 70px;
    width: 70px;
};

/*game area styling*/
#answer-buttons{
  display:flex;
  flex-direction: column;
  margin: 5px;
  align-items:flex-start;
  width: 100%;
  font-size: 1.3rem;
  height: 3rem;
}
.btn{
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
  height: 2rem;
  width: 80%;
  height: 40px;
  border:none;
  border-radius: 6px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  background-color: #FFD700;
  color: #000; 
  font-size: 1.3rem;
}

.correct{
  background-color: #008000; 
}

.incorrect{
  background-color: #FF0000;
}

.quiz{
  display:flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  padding: 10px;
}
#next-btn{
  align-self: flex-end;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
  height: 2rem;
  font-size: 1.2rem;
}
.start-menu > i{
  padding-bottom: 10px;
}
.difficulty > *{
  pointer-events: none;
};
.home-button {
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 100vh; 
}

.home-button > button {
  width: 50%; 
  margin: 0 auto; 
}
.home-button > img{
  margin-bottom: 10px;
  width: 140px;
  height: 230px;
}

@media screen and (min-width: 920px){
  .main-screen{
      width: 700px;
  }
};

@media screen and (max-width: 360px){
  .quiz{
      width: 80%;
  }
  #answer-buttons{
      display:flex;
      justify-content: center;
  }
  .leagues > img{
      max-width: 80px;
      max-height: 45px;
  }
};

@media screen and (max-height: 480px){
  .main-screen, .welcome{height: 50%;
  }
};