header{
    text-align: center;
    color: white;
    height: 10vh;
    margin-top: 40px;
}
body{
    height: 100vh;
    background-image: url(/assets/images/football_pitch1200.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.main-screen{
    margin-left:auto;
    margin-right: auto;
    margin-top: 60px;
    width: 80%;
    height: 400px;
    border:3px solid green;
    background-color: rgb(251,243,213,0.7);
    border-radius: 4px;
    display:flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
}
.hidden{
    display:none
}

.welcome{
    width: 60%;
    height:300px;
    background-color:rgb(251,243,213,0.7);
    border-radius: 4px;
    text-align: center;
    margin-left: auto;
    margin-right:auto;
    border: 2px solid green;
    font-size: 25px;
    padding: 5%;
}
.start-menu{
    border: 1px solid black;
    width: 80%;
    margin-top: 5px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}
.start-menu:hover{
    background-color: green;
    color: #ffffff;
}

.tutorial {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    background-color: rgb(251,243,213);
    padding: 5px;
    height: 200px;
    border-radius: 5px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
    z-index: 10;
    text-align: center;
    padding: 20px;
  }
  .close {
    position: absolute;
    color: #333;
    cursor: pointer;
    top: 1.2rem;
    right: 2rem;
    font-size: 2rem;
    border: none;
    background: none;
  }


  /*game area styling*/
  #answer-buttons{
    display:flex;
    flex-direction: column;
    margin: 5px;
  }
  .btn{
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    height: 2rem;
    width: 200px;
  }

  .correct{
    background-color: green;
  }

  .incorrect{
    background-color: red;
  }
@media screen and (min-width: 920px){
    .main-screen{
        width: 700px;
    }
}